// primary colors
$primary-black: #323232;
$primary-silver: #AFAFAF;
$primary-white: #FFFFFF;

// secondary colors
$secondary-black: #000000;
$secondary-silver: #E1E1E1;
$secondary-white: #FAFAFA;

// error state in comments form
$error-red: #D22D2D;