@use './colors';

@mixin links {
  text-decoration: none;
  color: colors.$primary-white;
  margin: 0;
}
@mixin border-bottom {
  border-bottom: 4px solid colors.$primary-white;
}

@mixin input-form {
  border: 1px solid colors.$secondary-silver;
  background-color: colors.$secondary-white;
  border-radius: 4px;
  font-family: 'Regular';
}

@mixin body-basic {
  margin: 0;
  font-size: 100%;
}

@mixin padding {
  padding-left: 10rem;
  padding-right: 10rem;
}
@mixin padding2 {
  padding-left: 10vw;
  padding-right: 10vw;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
}

@mixin social-button {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

@mixin footer-desktop {
  .footer {
  &__header {
    @include links;
    font-size: 120%;}

    &__address {
    margin-left: 2rem;}

    &__subheader {
    margin-top: 0;
    margin-bottom: 0;}

    &__container {
      &--main {
      @include flex-between;
      flex-direction: column;
      // margin: 1rem;
      }

      &--second {
      @include flex-between;
      flex-direction: row;
      margin: 1rem 2rem;}

      &--social {
      @include flex-start;
      margin-left: 2rem;
      align-items: end;}

      &--social-container {
      margin-left: 14vw;}
    }
    }

  h3 {
    margin-top: -3.5rem;
    }
}

@mixin footer-mobile {
  .footer {// Set the styles for the footer section
    background-color: colors.$primary-black;
    color: colors.$primary-white;
    padding: 1rem;
  
    &__subheader {// Set the styles for the subheader in the footer
     margin-bottom: 1rem;}
  
    &__header {// Set the font family for the header in the footer
      font-family: 'Regular';
      @include links;
      font-size: 150%;}
  
    &__social-button {// Set the styles for social buttons in the footer
      @include social-button}
  
    &__paragraph {// Set the styles for paragraphs in the footer
      margin-top: 2rem;
      display: flex;
      flex-direction: column;}
  
    &__email {// Set the styles for the email link in the footer and use the links mixin
      margin-top: 0.5rem;
      @include links;}
  }
}