@use '..//styles/partials/colors';
@import '../styles/partials/globals';
@import '../styles/partials/fonts';

body {// Set the basic styles for the document
  @include body-basic;
}

.page-header {// Set the styles for the page header
  @include flex-between;
  align-items: center;
  flex-direction: column;
  background-color: colors.$primary-black;
  padding-top: 0.5rem;
  
  &__link {// Set the styles for links in the page header
    @include links;
    font-size: 120%;
  }
  &__band-name {// Set the styles for the band name link in the page header
  @include links;
}
}

.header-nav {// Set the styles for the header navigation
  display: flex;
  justify-content: center;
  width: 100%;
  &__link {// Set the styles for links in the header navigation
    @include links;
    width: 50%;
    text-align: center;
    padding-bottom: 0.7rem;
    font-size: 120%;
    
    &--active {//Set the styles for links in the header navigation
    @include border-bottom;
    font-family: 'Demi';}

    &:hover {
    font-family: 'Demi';
    @include border-bottom;}
  } 
}

.hero {// Set the styles for the hero section
  background-image: url(../assets/images/hero-bio.jpg);
  background-size:cover;
  position: relative;
  height: 15rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  color: colors.$primary-white;
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;}

  &__header {
    font-size: 200%;
    font-family: 'Demi';
    z-index: 2;}
}

.about {// Set the styles for the main section
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;

  &__header {
    font-family: 'Demi';}

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;}

  &__main-text {
    margin-bottom: 1rem;}
}     

.photo-alboms {// Set the styles for the photo albums section
  // margin: 1rem 0;
  padding: 1rem;
  background-color: colors.$secondary-white;

  &__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;}

  &__item {
  width: calc((100% - 0rem) / 1);
  filter: grayscale(70%);
  &:hover { 
  filter: grayscale(0);
  transition: all 0.2s;}
  } //grayscale filter for images
}

.comments__header {// Set the styles for the comments section
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  padding: 1rem;
  font-family: 'Demi';
}

.comment-form, .comment-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin: 0 1rem;
}

.avatar {
  min-width: 2.25rem;
  height: 2.25rem;
  background-color: colors.$secondary-silver;
  border-radius: 50%;
  &__main {
    background: url(../assets/images/Mohan-muruge.jpg);
    background-size: cover;
  }
}

form, .avatar__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

label {
  font-family: 'Demi';
  color: colors.$primary-silver;
}

textarea {
  height: 8rem;
  @include input-form;
}
input:focus, textarea:focus { //active state settings
  outline: none;
  border: 1px solid colors.$primary-black;
  font-family: 'Regular';
}
.comment-form__input {
  height: 2.25rem;
  @include input-form;
}
.comments__buttons { //settings for 'like' and 'delete' buttons
  @include flex-start;
  margin-left: 4rem;
  gap: 2rem;
  &--button {
    height: 0.8rem;
    width: 0.8rem;
    background-color: transparent;
    border: none;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: all 0.2s;
    }
    &:not(:hover) {
      transition: all 0.2s;
    }
  }

}
button[type="submit"] {
  color: colors.$primary-white;
  background-color: colors.$primary-black;
  border: none;
  text-transform: uppercase;
  font-family: 'Demi';
  font-size: 110%;
  width: 100%;
  padding: 1rem 0;
  border-radius: 4px;
}
.tickets__separator { //settings for divider
  border: none;
  border-top: 2px solid colors.$secondary-silver;
  margin: 2rem 1rem;
}

.avatar__container > div {// Set the styles for the default comments section
  @include flex-between;
  gap: 1rem;
}
.is--bolded {
  font-family: 'Demi';
}
.is--grey {
  color: colors.$primary-silver;
}
.comment-list__paragraph {
  margin: 0;
}

.footer {// Set the styles for the footer section
  background-color: colors.$primary-black;
  color: colors.$primary-white;
  padding: 1rem;

  &__subheader {// Set the styles for the subheader in the footer
   margin-bottom: 1rem;}

  &__header {// Set the font family for the header in the footer
    font-family: 'Regular';
    @include links;
    font-size: 150%;}

  &__social-button {// Set the styles for social buttons in the footer
    @include social-button}

  &__paragraph {// Set the styles for paragraphs in the footer
    margin-top: 2rem;
    display: flex;
    flex-direction: column;}

  &__email {// Set the styles for the email link in the footer and use the links mixin
    margin-top: 0.5rem;
    @include links;}
}

@media screen and (min-width: 768px) {// Set the styles for desktop screens
  
  .page-header { // Set the styles for the header section
    flex-direction: row;
    
    &__link {
    font-size: 50%;
    margin-left: 5rem;
    margin-top: 0;}
  }

  .header-nav {
    @include flex-start;
    
    &__link {
    width: fit-content;
    padding-top: 5rem;
    padding-bottom: 3.5rem;
    margin-left: 3rem;}
  }

  .hero {// Set the styles for the hero image
    height: 40rem;
    font-size: 200%;
    padding-left: 5rem;
  }

  .comments {// Set the styles for the comments section
    &__section {
      width: 35rem;
      margin: auto;}

    &__header {
      font-size: 2.5rem;
      margin-left: 10rem;}
  }
  
  .photo-alboms {// Set the styles for the photo album items
    padding: 0 10vw;

    &__item {
    width: calc((100% - 4rem) / 3);
    padding: 0.3rem;}

    &__header {// Set the styles for the photo album header
    padding-top: 2rem;}
    }

  .about {// Set the styles for the about section
  @include padding2;
  &__header {// Set the styles for the band name in the page header
      margin-left: -5rem;}

    &__main-text {// Set the styles for the main text in the about section
      @include flex-between;
      gap: 3rem;}
    }
  
  .footer {// Set the styles for the footer
    &__header {
    @include links;
    font-size: 120%;}

    &__address {
    margin-left: 2rem;}

    &__subheader {
    margin-top: 0;
    margin-bottom: 0;}

    &__container {
      &--main {
      @include flex-between;
      flex-direction: column;
      // margin: 1rem;
      }

      &--second {
      @include flex-between;
      flex-direction: row;
      margin: 1rem 2rem;}

      &--social {
      @include flex-start;
      margin-left: 2rem;
      align-items: end;}

      &--social-container {
      margin-left: 14vw;}
    }
    }

  h3 {
    margin-top: -3.5rem;
    }
}