@font-face {
  font-family: Bold;
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: Demi;
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: Regular;
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    font-family: "Bold";
  }
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    font-family: "Demi";
  }
  h3 {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 600;
    font-family: "Demi";
  }
  h4 {
    font-size: 1.2rem;
    line-height: 3rem;
    font-weight: 600;
    font-family: "Demi";
  }
  main p {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    font-family: "Regular";
  }
  footer p {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
    font-family: "Regular";
  }
  a {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 400;
    font-family: "Regular";
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: "Bold";
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: "Demi";
  }
  h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    font-family: "Demi";
  }
  h4 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    font-family: "Demi";
  }
  p {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-family: "Regular";
  }
  a {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    font-weight: 200;
    font-family: "Regular";
  }
}
body {
  margin: 0;
  font-size: 100%;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
  padding-top: 0.5rem;
}
.page-header__link {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
  font-size: 120%;
}
.page-header__band-name {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
}

.header-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header-nav__link {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
  width: 50%;
  text-align: center;
  padding-bottom: 0.7rem;
  font-size: 120%;
}
.header-nav__link--active {
  border-bottom: 4px solid #FFFFFF;
  font-family: "Demi";
}
.header-nav__link:hover {
  font-family: "Demi";
  border-bottom: 4px solid #FFFFFF;
}

.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  background-size: cover;
  position: relative;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 1rem;
  color: #FFFFFF;
}
.hero::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.hero__container {
  z-index: 2;
}
.hero__header {
  font-size: 200%;
  font-family: "Demi";
  margin: 2rem 0;
  line-height: 1.5;
}
.hero__paragraph {
  z-index: 2;
  font-size: 110%;
  padding-top: 1rem;
}

#soundloud-widget {
  width: 100%;
  z-index: 2;
}

iframe {
  align-items: center;
  width: 100%;
}

.tickets {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
}
.tickets__header {
  font-family: "Demi";
  font-size: 200%;
}
.tickets__container {
  margin: 0 1rem;
}
.tickets__row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tickets__row:hover {
  background-color: #FAFAFA;
}
.tickets__row:active {
  background-color: #E1E1E1;
}
.tickets__separator {
  border: none;
  border-top: 2px solid #E1E1E1;
  margin: 2rem 0;
}
.tickets__header-cell {
  color: #AFAFAF;
  font-family: "Demi";
  margin-top: 0;
  font-size: 110%;
}
.tickets__cell {
  font-family: "Regular";
  font-size: 120%;
  margin-top: 0;
}
.tickets__cell--bolder {
  font-family: "Demi";
}
.tickets__buy-button {
  color: #FFFFFF;
  background-color: #323232;
  border: none;
  text-transform: uppercase;
  font-family: "Demi";
  font-size: 110%;
  width: 100%;
  padding: 1rem 0;
  border-radius: 4px;
}
.tickets__buy-button:hover {
  background-color: #000000;
  cursor: pointer;
}

tr {
  align-items: start;
  margin: 1rem 0;
}

.mobile--hidden {
  display: none;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
}
.footer__subheader {
  margin-bottom: 1rem;
}
.footer__header {
  font-family: "Regular";
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
  font-size: 150%;
}
.footer__social-button {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.footer__paragraph {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.footer__email {
  margin-top: 0.5rem;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
}

/* Set the styles for desktop screens */
@media screen and (min-width: 768px) {
  .page-header {
    flex-direction: row;
  }
  .page-header__link {
    font-size: 50%;
    margin-left: 5rem;
    margin-top: 0;
  }
  .header-nav {
    display: flex;
    justify-content: flex-start;
  }
  .header-nav__link {
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 5rem;
    padding-bottom: 3.5rem;
    margin-left: 3rem;
  }
  .about__header {
    margin-left: -5rem;
  }
  .hero {
    height: 40rem;
    font-size: 160%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 5rem;
  }
  #soundloud-widget {
    width: 40%;
  }
  .desktop-hidden {
    display: none;
  }
  .tickets__row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    align-items: center;
    gap: 1rem;
    margin-left: 20%;
    margin-bottom: 1rem;
  }
  .tickets__row > p {
    width: 15rem;
  }
  .tickets__buy-button {
    width: 15rem;
  }
  .tickets__header {
    margin-left: 9rem;
  }
  .footer__header {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0;
    font-size: 120%;
  }
  .footer__address {
    margin-left: 5rem;
  }
  .footer__subheader {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer__container--main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem 3rem;
  }
  .footer__container--second {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 1rem 2rem;
  }
  .footer__container--social {
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
    align-items: end;
  }
  .footer__container--social-container {
    margin-left: 14vw;
  }
  h3 {
    margin-top: -3rem;
  }
}/*# sourceMappingURL=shows.css.map */